
PORESHackathonDataSpring2021.zip
CSVs/ACS5Year2014-2019.csv
CSVs/Combined20162020ElectionResults.csv
CSVs/JohnsHopkinsCOVIDDataSept30.csv
CSVs/SMData.csv
CSVs/SMLabels.csv
all-geocodes-v2018.xlsx
applemobilitytrends-2021-03-31.csv
axios-ipsos-poll-w17.pdf
counties/tl_2020_us_county.cpg
counties/tl_2020_us_county.dbf
counties/tl_2020_us_county.prj
counties/tl_2020_us_county.shp
counties/tl_2020_us_county.shp.ea.iso.xml
counties/tl_2020_us_county.shp.iso.xml
counties/tl_2020_us_county.shx
node-640396-641116.zip
Region_Mobility_Report_CSVs.zip
